<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuizGame – Odotusaula</title>
</head>
<body>
    <h1>KaljaQuiz.fi - Suomen suosituin juomapelialusta!</h1>
    <div id="main-container">
        <!--Tähän ladataan dynaamisesti kontenttia partials kansiosta pelin vaiheesta riippuen-->
    </div>
    
    <button id="end-game" onclick="endGame()">Lopeta Peli</button>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <!-- Importataan pelaajien pollaus funktiot -->
    <script src="{{ url_for('quizgame.static', filename='js/hostWaiting.js') }}" defer></script>
    <!-- Importoidaan sokettien js logiikka -->
    <script src="{{ url_for('quizgame.static', filename='js/hostSockets.js') }}" defer></script>
</body>
</html>
