<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuizGame – Host Waiting Room</title>
</head>
<body>
    <h1>Waiting for Players…</h1>
    <ul id="players-list">
        <li><em>(no one yet)</em></li>
    </ul>
    <button id="start_game" onclick="startGame()">Start Game</button>

    <h2>Join link:</h2>
    <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code should be here">

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

    <script>
        // Tänne täytyy tehdä socket io event joka emittoi start_quiz_game eventin kun painetaan start_game nappia
        const socket = io();
        // Emittoi start_quizgame, kun host painaa nappia.
        // Pelaajat ottavat tämän vastaan waiting roomissa ja siirtyvät quizgame_player näkymään.
        // itse eventin broadcastays tapahtuu sockets.py tiedostosta, että se lähtee pelaajille.
        function startGame() {
            socket.emit('start_quizgame', {"test": "test"});
            console.log("HOST EMIT start_quizgame");
            socket.emit("join_game", { player_id: "{{ host_id }}" });
            console.log("HOST EMIT join_game (host joins the game room)");
        }
    </script>

    <script src="{{ url_for('quizgame.static', filename='js/hostWaiting.js') }}" defer></script>
</body>
</html>
