<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuizGame</title>
</head>
<body>
    <h1>Player game screen</h1>
    <div id="player-question-container">
        <!-- Question partial will be loaded here -->
    </div>

    <div id="result-container">
        <!-- Result (Correct/Incorrect) will be displayed here -->
    </div>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <!-- Importoidaan pelaajien socket logiikka -->
    <script src="{{ url_for('quizgame.static', filename='js/playerSockets.js') }}"></script>
</body>
</html>
