<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KaljaQuiz - Choose Role</title>
    <link id="theme-style" rel="stylesheet" href="">
    <!--<link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/theme-default/colorPalette.css') }}">-->
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    {% include 'partials/components/import_components.html' %}
</head>
<body>
    <canvas id="beerCanvas"></canvas>

    <div class="content">
        <h1>Welcome to KaljaQuiz</h1>
        <p>Select your role to begin:</p>
        <div class="buttons">
            <a href="{{ url_for('main.host') }}"><button class="btn">Host</button></a>
            <a href="{{ url_for('main.user') }}"><button class="btn">User</button></a>
        </div>
        <p>Select your theme:</p>
        <select class="dropdown" onchange="changeThemeAndReload(this.value)">
            <option value="theme-default">Default</option>
            <option value="theme-retro">Retro</option>
            <option value="theme-neon">80s Neon</option>
        </select>
    </div>
    
    {% include 'partials/components/import_animation.html' %}
    <script src="{{ url_for('static', filename='js/themeSwitch.js') }}"></script>
</body>
</html>



