<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link id="theme-style" rel="stylesheet" href="">
  {% include 'partials/components/import_components.html' %}
</head>
<body>
  <canvas id="beerCanvas"></canvas>

  <div class="content">
    <form action="{{ url_for('main.register') }}" method="post">
      <label>Your name</label>
      <input type="text" name="name" placeholder="Enter your name" required>
      <button type="submit">Ready!</button>
    </form>
  </div>

  {% include 'partials/components/import_animation.html' %}
</body>
</html>