h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 4rem;
    color: var(--color-text-highlight);
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.2;
}

p {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.5;
}

.input {
    background: var(--color-background);
    color: var(--color-text-normal);
    border: 2px solid var(--color-text-highlight);
    padding: 12px 20px;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 250px;
}

.label {
    font-size: 2rem;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .label {
        font-size: 2rem;
        margin-bottom: 15px;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 3rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}
